<!--Example of interpolation using handlebar syntax-->
<h1>{{title}}</h1>

<!--Example of binding .ts to html-->
<button [disabled]="clicked" (click)="handleClick()">Click me</button>

<!--Directives-->
<!--If statement-->
<div *ngIf="clicked">
    <h3>{{Person.name}}</h3>
    <img src="https://www.gstatic.com/webp/gallery3/2.png" width="200px">
    <p>build in {{Person.age}}</p>
</div>

<!--For loop-->
<div *ngFor="let country of Countries">

    <h3 [ngClass]=
    "{
     'green' : country.name === 'South Africa'
    }">
    {{country.name}}
    </h3>

</div>
